@import "variables";
#navbarTop{
    border-bottom: 1px solid lightgray;
    height: 100% !important;
    padding: 0 30px;
    background: $sub_bg;
   .navbar-brand{
       img{
           width: 80px;
       }
   }
    .nav-link.active{
        color: rosybrown !important;
        border-bottom: 1px solid rosybrown;
    }
}